h1 { font-family:arial, helvetica; }

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.warning {
	color: red;
	font-weight: bold;
}

#box {
	width:650px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	background-color:#eee;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	}

pre {
	display: inline;
	font-weight: bold;;
}

.navbar .navbar-dark .bg-dark {
  background-color: #00695c;
}

.marketing .hero-image {
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: #00695c;
  color: #fff;
}

.marketing .col-md-8 {
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: #439889;
}

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}