<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title> {{ title }}</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">

</head>
<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbard-brand" href="#">Feedback Coach</a>
    </nav>
  </header>

  <main role="main">

    <div class="container marketing">
      <div class="hero-image">
        <p>
          Grow together
        <p>
        <!-- Full-width image -->
        <img class="image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https://s3.amazonaws.com/feedback-coach-app.com/images/tree.jpg">
      </div>

      <div class="row">
        <div class="col-md-8">
          <a class="btn btn-lg btn-primary" href="#" role="button">Tell us your problem</a>
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading">Feedback is hard. <span class="text-muted">We're here to help.</span></h2>
          <p class="lead">Everyone struggles with feedback. New managers struggle more than most. Tell us what's going on. We'll give you the advice you need!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Feedback has a <span class="text-dark">formula.</span></h2>
          <p class="lead">Good feedback is timely. Good feedback is specific. Good feedback leads to growth. Good feedback is actionable.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https://s3.amazonaws.com/feedback-coach-app.com/images/math.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Good feedback is <span class="text-dark">timely.</span></h2>
          <p class="lead">The sooner the better seems obvious. Feelings and uncertainty can get in the way. Tell us what's going on. We'll help!</p>
          <p>Depending on the feedback there is a window of effectiveness. Ideally, feedback should be given as soon as possible after the event (24 hours) - so the employee can take action. The window can be extended to 72 hours situationally.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https://s3.amazonaws.com/feedback-coach-app.com/images/calendar.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Good feedback is <span class="text-dark">specific.</span></h2>
          <p class="lead">Stick to specifics. Memory can fade. How general is too general? Tell us what's going on. We'll help!</p>
          <p>This includes specific areas of success and growth</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 600px; height: 400px;" src="https://s3.amazonaws.com/feedback-coach-app.com/images/25720973070_04a4d79b8a_b.jpg">
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Good feedback is <span class="text-dark">growth-focused.</span></h2>
          <p class="lead">Tell us what's going on. We'll help!</p>
          <p>This could be related to the employee’s specific goals (which is why establishing a culture of feedback is critical) or the goals of the meeting, project, etc.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https://s3.amazonaws.com/feedback-coach-app.com/images/25388981214_8eec778efb_o.jpg">
        </div>
      </div>


    </div>

  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
