<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title> {{ title }}</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">

</head>
<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbard-brand" href="#">Feedback Coach</a>
    </nav>
  </header>

  <main role="main">

    <div class="container marketing">
      <div class="hero-image">
        <p>
          Welcome! Need help giving feedback?
        <br> We are here to help.
        <p>
        <!-- Full-width image -->
        <img class="image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https://s3.amazonaws.com/feedback-coach-app.com/images/tree.jpg">
          <p>
      Feedback Coach is a tool that helps you feel more confident delivering effective, outcome-oriented feedback.
        <p>
      </div>
  <button a href="starter-pack" type="button" class="btn btn-primary btn-lg btn-block">Try the new manager starter pack!</a></button>


  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</html>
</body>
