<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title> {{ title }}</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">

</head>
<body>
  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
  <html lang="en">
  <head>
      <title> {{ title }}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  	<link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbard-brand" href="#">Feedback Coach </a>


          </nav>
    </header>

    <main role="main">

      <div class="container marketing">
        <div class="hero-image">
        <p>
             Feedback helps new managers create a healthy foundation for their teams. <br> It's never too early to start.
          <p>
          <!-- Full-width image -->


          <img class="image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https://s3.amazonaws.com/feedback-coach-app.com/images/noun_feedback_305608.png">
            <p>

              <br> <h1>Tell us about your situation.
          <p>
        </div>
    <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="https://s3.amazonaws.com/feedback-coach-app.com/images/noun_feedback_305608.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Building a culture of feedback</h5>
        <p class="card-text">I am a new manager and part of my role is to give my team feedback. How do I start the conversations?
  </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://s3.amazonaws.com/feedback-coach-app.com/images/noun_feedback_305608.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Job performance</h5>
        <p class="card-text">I am a new manager and have to give some negative/constructive feedback to my team about their performance. How should I deliver this feedback?
  </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://s3.amazonaws.com/feedback-coach-app.com/images/noun_feedback_305608.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Employee behavior</h5>
        <p class="card-text">I am a new manager and have to give some negative/constructive feedback to my team about a behavior at work. How should I deliver this feedback?</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>


  </div>


    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </html>
</body>
